
          <div class="about_others">
            <h2>Teaching</h2>
              <ul>
                  <li>Mentor for UMass Amherst COMPSCI 696: Independent Study, Fall 2022</li>
                  <li>Mentor for UMass Amherst
                      <a href="https://ds.cs.umass.edu/industry/industry-mentorship-program">
                          COMPSCI 696DS
                      </a>: Industry Mentorship Program, Spring 2022
                  </li>
                  <li>Grader for UMass Amherst COMPSCI 611: Advanced Algorithm, Spring 2021</li>
                  <li>Teaching assistant for UCSD COGS 118A: Introduction to Machine Learning, Winter 2018</li>
                  <li>Teaching assistant for UCSD COGS 10: Cognitive Consequences of Technology, Spring 2017</li>
              </ul>

            <h2>Service</h2>
              <ul>
                  <li>Organizer: UMass Machine Learning and Friends Lunch
                      (<a href="https://umass-mlfl.github.io/">MLFL</a>) series.</li>
                  <li>Reviewer: COLING 2022.</li>
              </ul>

            <h2>
          </div>
